<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestEx2.Module.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AirData_Connection" connectionString="XpoProvider=MSSqlServer;data source=ART-LAPTOP\SQLEXPRESS;integrated security=SSPI;initial catalog=TestEx2" />
        <add name="art-laptop\sqlexpress._AirportData.dbo" connectionString="XpoProvider=MSSqlServer;data source=ART-LAPTOP\SQLEXPRESS;integrated security=SSPI;initial catalog=_AirportData" />
        <add name="ART-LAPTOPSQLEXPRESSTestEx2" connectionString="XpoProvider=MSSqlServer;data source=ART-LAPTOP\SQLEXPRESS;integrated security=SSPI;initial catalog=TestEx2" />
    </connectionStrings>
    <userSettings>
        <TestEx2.Module.Properties.Settings>
            <setting name="sqlDataSource1" serializeAs="String">
                <value>sqlDataSource1</value>
            </setting>
        </TestEx2.Module.Properties.Settings>
    </userSettings>
</configuration>